<p id="notice"><%= notice %></p>

<h1>Column Fix4s</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @column_fix4s.each do |column_fix4| %>
      <tr>
        <td><%= link_to 'Show', column_fix4 %></td>
        <td><%= link_to 'Edit', edit_column_fix4_path(column_fix4) %></td>
        <td><%= link_to 'Destroy', column_fix4, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Column Fix4', new_column_fix4_path %>
